*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: blue;
} 

i {
    cursor: pointer;
    color: #000000;
}

img{
    cursor:pointer;
}

.flex {
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 2%;
    border-radius: 0 0 10px rgba(0, 0, 0, 1);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.menu-icon i{
    font-size: 20px;
    margin-right: 25px;
    padding:10px;
    /* padding: 10px;
    border-radius: 50%; 
    animation: attract 7s linear 0s infinite normal; */
}  

.nav-left img{
    width: 100px;
    filter: drop-shadow(0px 4px 6px 4px blue);
}

.nav-center input {
    margin-top: 3px;
    height: 30px;
    width: 400px;
    border: none;
    outline: none;
    background: transparent;
}

.nav-center i{
    font-size: 20px;
    margin-right: 25px;
    /* padding:10px; */
}

.search {
    height: 40px;
    border: 2px solid rgb(65, 65, 65);
    padding-left: 25px;
    border-radius: 50px;
    margin-right: 10px;
    padding-right: 5px;
}

.search input{
    font-size: 18px;
}

.nav-center i{
    padding: 10px;
}

.search i {
    padding-top: 8px;
    margin-right: 5px;
    padding:0px;
}

.nav-right i{
    font-size: 20px;
    margin-right: 25px;
    padding: 10px;
}

.nav-right img {
    width: 35px;
}

.nav-right img:hover{
    border-radius: 50%;
    box-shadow: rgb(255, 0, 0) 0px 20px 30px -10px;
}

.header i:hover{
    border: 0px solid transparent;
    border-radius: 50%;
    background-color: rgb(238, 238, 238);
}

.search i:hover{
    background-color: #fff;
}

.extra{
    display: none;
}

.sidebar {
    background: #fff;
    width: 15%;
    height: 100vh;
    position:fixed ;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
}

.menu a i{
    margin-right: 2%;
    width: 20px;
    font-size: 22px;
    margin-right: 20px;
}

.menu a{
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 12px; 
    width: fit-content;
    flex-wrap: wrap;
}

.menu10 i{
    color: red;
}

.menu a:first-child{
    color: red;
}

.menu hr{
    width: 85%;
    border: 0;
    height: 1px;
    background: black;
}

.menu1 {
    padding: 5px 10px;
    border: 0px solid transparent;
    border-radius: 8px;
}

.menu1:hover {
    font-size: 20px;
}

.menu1 i:hover {
    font-size: 30px;
}

.menu2{    
    padding: 5px 10px;
    border: 0px solid transparent;
    border-radius: 8px;
}

.menu2:hover{
    font-size: 20px;
}

.subscribe h3 {
    font-size: 16px;
    font-weight: 600;
    padding: 20px 0;
    color: #000000;
}

.subscribe a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    color:black;
}

.subscribe img {
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

.small-sidebar{
    display: none;
    /* padding-left: 2.5%; */
}

/* .small-sidebar a p{
    display: none;
}

.small-sidebar h3{
    display: none;
}

.small-sidebar hr {
    width: 50%;
    margin-bottom: 25px;
} */

.container {
    background: #f9f9f9;
    padding-left: 17%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 2%;
}

.tabs{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.tabs p{
    padding: 7px 14px;
    border: 0px solid transparent;
    border-radius: 14px;
    background-color: rgb(207, 206, 206);
    color: black;
    margin-right: 12px;
    cursor: pointer;
}

.tabs p:hover{
    background-color: rgb(184, 182, 182);
}

.large-container{
    padding-left: 2%;
}

.banner {
    width: 100%;
    margin-top: 10px;
}

.banner img{
    width: 100%;
    /* height: 300px; */
    border-radius: 8px;
}

.vlist {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start ;
    flex-wrap: wrap;
}

.thumbnail{
    width: 100%;
    border-radius: 10px;
}

.box1 {
    width: 23.5%;
    padding: 10px 0;
    border: 0px solid transparent;
    border-radius: 20px;
}

.box1:hover{
    width: 26%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.vinfo {
    display: flex;
}

.thumbnail2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.vinfo a{
    margin-left: 10px;
    color: #000000;
    font-weight: 600;
    font-size: 17px;
}

.flex1 p{
    padding-left: 50px;
    font-size: 14px;
    color: rgb(66, 66, 66);
}





@media (max-width:1350px){
    .sidebar{
        padding-left: 0.5%;
    }
    .menu1{
        font-size: 15px;
    }

    .menu2{
        font-size: 15px;
    }

    .subscribe img {
        width: 20px;
    }
}





@media (max-width:1150px){
    .menu1{
        display: flex;
    }

    .menu1 a{
        display: none;
        margin-bottom: 0px;
    }

    .menu1{
        padding-left: 15%;
    }

    .menu4 p{
        font-size: 15px;
    }

    .menu4 i{
        padding-left: 0;
    }

    .menu3{
        display: flex;
        flex-direction: column;
    }

    .menu2{
        /* font-size: 20px; */
        padding-left: 15%;
    }

    .box1 {
        width: 31%;
    }

    .box1:hover{
        width: 33%;
    }

    .thumbnail2{
        width: 35px;
    }

    .flex1 p{
        padding-left: 45px;
    }

    .subscribe a{
        margin-bottom: 10px;
    }

}

@media (max-width:920px){
    .nav-center input{
        width: 300px;
    }

    .search{
        margin-left: 50px;
    }

    .nav-left i{
        margin-right: 20px;
        padding-right: 0px;
        font-size: 25px;
    }

    .nav-left img{
        width: 75px;
    }

    .nav-right img{
        width: 28px;
    }
}

@media (max-width:820px){
    

    .nav-center input{
        width: 200px;
    }

    .header i{
        font-size: 15px;
    }

    .search {
        height: 35px;
    }

    .search input{
        padding-bottom: 5px;
    }

    .menu i{
        font-size: 30px;
    }

    .menu p{
        display: none;
    }

    .menu hr{
        display: none;
    }

    .subscribe h3{
        display: none;
    }

    .menu2 p{
        display: none;
    }

    .menu2 img {
        width: 30px;
    }

    .sidebar{
        width: 10%;
        padding-left: 15px;
    }

    .container{
        padding-left: 2%;
    }

    .box1{
        width: 47%;
    }

    .box1:hover{
        width: 49%;
    }
}

@media(max-width:700px){
    .nav-center input{
        width: 150px;
    }
}

@media (max-width:650px){
    .nav-left{
        width: 70%;
    }

    .nav-left i{
        display: none;
    }

    .nav-right img{
        display: none;
    }

    .moon{
        margin-left: 15%;
    }

    .nav-right i {
        font-size: 20px;
    }

    .extra{
        display: block;
        /* font-size: 30px; */
        font-weight: 900;
        padding-right: 2px;
    } 

    .sidebar{
        display: none;
    }

    .banner{
        display: none;
    }

    .container{
        padding-left: 2%;
    }

    .nav-center input{
        width: 150px;
    }

    .search i{
        display: none;
    }

    .nav-left img{
        padding-left: 10px;
    }
}



@media (max-width:550px){
    .nav-center{
        display: none;
    }

    .nav-left img{
        padding-left: 10px;
    }

    .box1{
        width: 94%;
    }

    .box1:hover{
        width: 97%;
    }
}




/* <----------video.html----------> */







.play-container{
    padding-left: 2%;
    /* width: 600px; */
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.play-video{
    flex-basis: 69%;
    margin-bottom: 5px;
}

.right-bar{
    flex-basis: 30%;
}

.play-video video{
    width: 100%;
    border-radius: 20px;
}

.side-video{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8px;
    border-radius: 5px;
}

.side-video img{
    width: 100%;
    border-radius: 15px;
}

.small-thumbnail{
    flex-basis: 49%;
}

.vinfo1{
    flex-basis: 49%;
    display: flex;
    justify-content: space-between;
}

.title{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.title a{
    color: #000000;
    font-weight: 600;
}

.title p{
    color: rgb(84, 84, 84);
    font-size: 14px;
}

.text-under{
    padding-left: 5px;
}

.tags a{
    color:#000fff;
    margin-right: 5px;
}

.tags{
    font-size: 15px;
    padding-top: 5px;
}

.play-video h3{
    font-size: 22px;
    font-weight: 600;
    padding-top: 5px;

}

.views{
    color: grey;
    font-size: 15px;
}

.likes i{
    width: 20px;
    font-size: 20px;
    margin-right: 3px;
    margin-left: 10px;
    color: rgb(108, 108, 108);
    margin-top: 2px;
}

.likes{
    color: rgb(109, 109, 109);
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

.likes i:hover{
    color:blue;
    font-size: 25px;
}

.liked i{
    color: blue;
    font-size: 25px;
}

.liked1 i{
    color: blue;
    font-size: 25px;
}

.view-like{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 10px;
}

.view-like hr{
    height: 1px;
    color: rgb(102, 101, 101);
}

.author1{
    display: flex;
    justify-content: center;
}

.author1 img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.author1 p{
    padding-left: 8px;
}

.name{
    padding-top: 2px;
    padding-left: 8px;
    cursor: pointer;
}

.author1 p:first-child{
    font-size: 17px;
    font-weight: 700;
}

.author1 p:nth-child(2){
    font-size: 14px;
    color: rgb(109, 108, 108);
}

.author{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.author2 button{
    /* margin-top: 5px; */
    border: none;
    background-color: red;
    color: #fff;
    border-radius: 6px;
    padding: 6px;
    cursor: pointer;
    font-size: 15px;
}

.author2 button:hover{
    padding: 10px;
    font-size: 15px;
}

.discription {
    color: rgb(109, 108, 108);
    font-size: 14px;
    padding-left: 55px;
}

.discription p{
    padding-top: 8px;
}

.discription :nth-child(2){
    padding-bottom: 10px;
}

.comments p{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

.profile2 img{
    width: 40px;
    height: 40px;
}

.profile2{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.profile2 input{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    border: none;
    border-bottom: 1px solid grey;
    background-color: transparent;
    border-radius: 4px;
}


.profile3 {
    padding-left: 10px;
}

.comment2 img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.comment2{
    padding-top: 15px;
}

.comment4{
    display: flex;
    justify-content:flex-start;
}

.comment4 p{
    margin-left: 15px;    
    font-size: 14px;
    color: rgb(88, 86, 86);
}

.comment1{
    display: flex;
    justify-content: space-between;
    gap: 0;
    margin-top: 20px;
}

.comment3{
    margin-left: 10px;
}

.comment4 h3{
    font-size: 18px;
    color: #000000;
}

.comment5 p{
    color: #000000;
    font-weight: 300;
    padding-top: 0;
}







@media (max-width:1250px){
    .title a{
        font-size: 14px;
    }

    .title p{
        font-size: 12px;
    }
}


@media(max-width:1100px){
    .title a{
        font-size: 12px;
    }

    .title p{
        font-size: 10px;
    }
}





@media (max-width:1000px){
    .play-video{
        flex-basis: 98%;
        padding-left: 2%;
    }

    .right-bar {
        flex-basis: 92%;
        padding-left: 4%;
        margin-top: 20px;
    }

    .title {
        padding-left: 4%;
    }

    .title a{
        font-size: 28px;
        padding-bottom: 20px;
    }

    .title p{
        font-size: 20px;
    }
}




@media(max-width:750px){
    .title a{
        font-weight: 600;
        font-size: 23px;
        padding-bottom: 15px;
    }

    .title p{
        font-size: 17px;
    }
}



@media(max-width:600px){

    .nav-right{
        padding-left: 0;
        margin-left: 0;
        margin-right: 20px;
    }

    .title a{
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 12px;
    }

    .title p{
        font-size: 13px;
    }
}



@media(max-width:500px){
    .tags{
        font-size: 12px;
    }

    .text-under h3{
        font-size: 19px;
    }

    .views{
        font-size: 12px;
    }

    .likes i{
        font-size: 16px;
        margin-left: 5px;
        margin-right: 0;
    }

    .likes {
        font-size: 12px;
    }

    .author1 p:first-child{
        font-size: 15px;
    }
    
    .author1 p:nth-child(2){
        font-size: 12px;
    }


    .author2 button{
        padding: 3px;
    }

    .discription{
        font-size: 12px;
    }

    .comments p{
        font-size: 14px;
    }

    .profile2 img{
        margin-top: 5px;
    }
    .comment4{
        padding-top: 10px;
    }

    .comment4 h3{
        font-size: 14px;
    }

    .comment4 p{
        font-size: 12px;
    }

    .comment5 p{
        font-size: 12px;
        padding: 0;
        margin: 0;
    }

    .profile2 input{
        padding: 0;
        margin-bottom: 0;
        padding-top: 20px;
    }

    .title a{
        font-weight: 600;
        font-size: 18px;
        padding-bottom: 10px;
    }

    .title p{
        font-size: 12px;
    }
}




/* Dark Mode */





.dark1{
    background: #000000;
}

.dark1 i{
    color: white;
}

.S1{
    border-radius: 50%;
}
